<!DOCTYPE html>
<html>
<head>
    <title>Student Information</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Средний балл</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.average_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>